.card-border
{
    border: 0;
}
.card-footer-modification
{
    background-color: white;
    border: 0;
    margin-bottom: 15px;
}
.image-catagories img
{
    width: 100px;
}
.carousel-background-color .carousel-item
{
    background-color: #fceae8;
    border-radius: 10px;
}
.button-color
{
    background-color: #ff4d94;
    border: 0px;
}